@charset "ISO-8859-1";

.soapit {
	display: inline-block;
	width: 18rem;
	height: 20rem;
	margin: 0 auto;
}

.rosso {background-color: #cc0000;}
.rosa {background-color: #ffcccc;}
.azzurro {background-color: #87bdd8;}
.arancione {background-color:#ff7b25;}
.verde {background-color: #405d27;}
.giallo {background-color: #feb236;}
.bianco {background-color: #fefbd8;}
