@charset "ISO-8859-1";

.soapit {
	display: inline-block;
	width: 18rem;
	height: 20rem;
	margin: 0 auto;
}

.testo_soapit{
	min-height: 260px;
}

.titolo_cliccabile {
	padding: 5px 3px;
}

.titolo_cliccabile:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: absolute; content: 'NO';
  padding-left: 5px;
  color: #8b0000;
}

input:valid+span:after {
  position: absolute;
  content: 'OK';
  padding-left: 5px;
  color: #009000;
}


.rosso {background-color: #d72828;}
.rosso_chiaro {background-color: #e77e7e;}

.rosa {background-color: #ffcccc;}
.rosa_chiaro { background-color: #ffe6e6;}

.azzurro {background-color: #87bdd8;}
.azzurro_chiaro {background-color: #c4e0ed;}

.arancione {background-color:#ff7b25;}
.arancione_chiaro {background-color:#ffb380;}

.verde {background-color: #4a6c2d;}
.verde_chiaro {background-color: #89bb5d;}

.giallo {background-color: #fe9d01;}
.giallo_chiaro {background-color: #fece80;}

.bianco {background-color: #fefacd;}
.bianco_chiaro {background-color: #fefce6;}

