@charset "ISO-8859-1";

.soapit {
	display: inline-block;
}

/* .div{
	min-width: 500px;
	min-height: 500px;
	max-width: 1000px;
	max-height: 1000px;
} */

/* .div {
min-height: 500px;
height: auto;
height: 500px;
} */